@model IEnumerable<Projeto_PetShop.Models.Tutor>
@{
    ViewData["Title"] = "Lista de Tutores";
}

<div class="text-center">
    <h1 class="display-4">Lista de Tutores</h1>
</div>

@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["MensagemSucesso"]
    </div> 
} 

<div class="container mt-5">
    <div class="card shadow-lg rounded p-4">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <a asp-action="Create" class="btn btn-success btn-lg ">+ Cadastrar Tutor</a>
        </div>

        <table class="table table-striped table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tutor in Model)
                {
                    <tr>
                        <td>@tutor.Nome</td>
                        <td>@tutor.Telefone</td>
                        <td>@tutor.Email</td>
                        <td>@tutor.Endereco</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@tutor.Id" class="btn btn-warning btn-sm">Editar</a>
                            <a asp-action="Delete" asp-route-id="@tutor.Id" class="btn btn-danger btn-sm">Excluir</a>
                            <a asp-action="Details" asp-route-id="@tutor.Id" class="btn btn-info btn-sm">Detalhes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

