@model IEnumerable<Projeto_PetShop.Models.Agendamento>

@{
    ViewData["Title"] = "Lista de Agendamentos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Agendamentos</h1>
</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["MensagemSucesso"]
    </div>
}

<div class="container mt-5">
    <div class="card shadow-lg rounded p-4">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <a asp-action="Create" class="btn btn-success btn-lg ">+ Agendar</a>
        </div>

        <table class="table table-striped table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Data do Agendamento</th>
                    <th>Data do Atendimento</th>
                    <th>Pet</th>
                    <th>Serviço</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var agendamento in Model)
                {
                    <tr>
                        <td>@agendamento.DataHoraAgendamento.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>
                            @(agendamento.DataHoraAtendimento != DateTime.MinValue 
                                ? agendamento.DataHoraAtendimento.ToString("dd/MM/yyyy HH:mm") 
                                : "Ainda não atendido")
                        </td>
                        <td>@agendamento.Pet?.Nome</td>
                        <td>@agendamento.Servico?.Nome</td>
                        <td>@agendamento.status</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@agendamento.Id" class="btn btn-warning btn-sm">Editar</a>
                            <a asp-action="Delete" asp-route-id="@agendamento.Id" class="btn btn-danger btn-sm">Excluir</a>
                            <a asp-action="Details" asp-route-id="@agendamento.Id" class="btn btn-info btn-sm">Detalhes</a>
                            
                            @if(agendamento.status == Projeto_PetShop.Enums.Agendamento.StatusAgendamento.AtendimentoFinalizado){
                                 <a asp-controller="Pagamento" asp-action="Create"
                                    asp-route-agendamentoId="@agendamento.Id"
                                    class="btn btn-success btn-sm">
                                     Pagar
                                 </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
